//*{
    box-sizing: border-box;
}
body{
    background-color: rgb(85, 90, 94);
}
#perro{
    background: grey;
    border-radius: 20px;
}
.form-control{
    background-color: lightgray;
}
.formD{
    color: white;
    text-shadow: 3px 3px 4.5px;
}
.heading{

}